.carritoVacio {

    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 6.5rem;
}

.carritoVacio button {

    background-color: black;
    color: white;
    font-size: 25px;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;

}

.precio {
    font-size: 20px;
    text-align: start;
    margin: 0% 0% 3% 0%;
}


.descripcion {
    font-size: 20px;
}

.EliminarArticulo {
    margin: auto;
    font-weight: 700;

}

.btnEliminarArticulo {


    background-color: rgb(185, 185, 185);
    color: white;
    cursor: pointer;
}

.formCart {

    margin-top: 2rem;

}

.inputForm {
    width: 90%;
    padding: 12px 20px;
    margin: 15px 0;
    box-sizing: border-box;
}

.confirmacionCompra h2 {
    margin-top: 45%;
    margin-bottom: 3rem;
}

.confirmacionCompra p {

    font-size: 20px;

}


.btnForm {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;


}

.btnFormCart {
    position: fixed;
    bottom: 10%;
    text-decoration: none;
    cursor: pointer;
}

.confirmacionCompra button {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
}

.Check {

    font-size: 90px;
    position: fixed;
    top: -39%;
    right: 40%;
    color: green;
}

.carrito {
    display: flex;
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 75%;

}

.carrito img {
    width: 200px;
    height: 200px;
    margin-left: 2rem;
    margin-right: 1rem;

}

.carritoDetalle {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 75%;


}

.titulo {
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0% 20% 0% 0%;
}

.CheackoutContainer {

    display: flex;
}

.CheackoutCart {
    flex-direction: column;
    width: 100%;
    margin-left: 2%;
}

.CheackoutResumen {

    width: 25%;
    border: 1px solid black;
    height: 40%;
    padding: 3rem;
    margin: 0% 2% 5% 0%;
    text-align: center;

}

.CheackoutResumen h3 {

    font-size: 25px;
    margin-top: 0%;

}

.CheackoutResumen p {

    font-size: 23px;
    font-weight: 600;
}

.CheackoutResumen button {

    font-size: 18px;
    background-color: #FF9551;
    color: white;
    padding: 5%;
    border-radius: 10px;
    border: none;
    margin-bottom: 7%;
    text-decoration: none;
    cursor: pointer;
}