@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

    .itemDetailCaja{

        display: flex;
        justify-content: center;
        margin: 10%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

    }

    .itemDetail{

        margin-left: 3rem;
        font-family: 'Uchen', serif;
    }

    .itemDetail h1{
        font-size: 5rem;
    }

    .itemDetail h3{
        font-size: 2rem;
    }

    .itemDetail p{

        font-size: 3.5rem;
    }

    .itemDetail button{

        background-color:black ;
        color:white;
        font-size: 3rem;
        border-radius: .5rem;
        padding: .5rem;
        box-shadow: 0 .5rem 1rem rgba(63, 57, 57, 0.815);
        margin-left: 30%;
        cursor: pointer;

    }
